@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

body{
    font-family: 'Roboto', sans-serif;
  
    background-image: url("https://assets.editorial.aetnd.com/uploads/2013/07/gettyimages-1390815938.jpg");
    background-size: cover;
  
    color: white;
    box-shadow: inset 0px -150px 50px rgba(0, 0, 0, 0.7);
  }

header{
    height: 6vh;
}

ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;

    padding: 1rem;
}

a{
    text-decoration: none;
    color: white
}
footer{
  height: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

  
