body {
  background-image: url("../image/campo.png");
  background-size: cover;
}

#recuadro {
  background-color: rgba(128, 128, 128, 0.4);
  display: flex;
  justify-content: center;
  align-content: center;
  border: 1px solid rgba(128, 128, 128, 0.7);
  height: auto;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border-radius: 6px;
  padding: 1rem;
}

button {
  width: 100%;
  border-style: solid;
  border-width: thin;
  font-size: 20px;
}

input[type="text"] {
  text-transform: uppercase; /* Hace que el texto se vea en mayúsculas en el campo */
}

.talla {
  visibility: hidden;
}
